.find{
    width: 100%;
    background: #eef4ed;
    /* border: 1px solid #fff; */
}
.findButton, .cancelButton{
    width: 25px;
    background: none;
    /* border-bottom: 1px solid #fff; */
}
.findButton img{
    width: 100%;
}
.cancelButton img{
    width: 60%;
}
.filter{
    width: 100%;
    display: flex;
    gap: 5px;
    color: #fff;
    background: #13315c;
    padding:0 80px 50px 80px;
    /* border-bottom: 1px solid #fff; */
    position: relative;
}

.filter::after{
    content: '';
    width: auto;
    left: 80px;
    right: 105px;
    bottom: 50px;
    height: 1px;
    background: #fff;
    position: absolute;
    display: block;
}