.drink{
    width: 300px;
    display: grid;
    -webkit-box-shadow: 0px 0px 5px 0px #134074;
    -moz-box-shadow: 0px 0px 5px 0px #134074;
    box-shadow: 0px 0px 5px 0px #134074;
}
.drink img{
    width: 100%;
}
.info{
    width: 100%;
    padding: 10px;
    text-align: center;
    /* background: #134074; */
}
.info hr{
    height: 0.1px;
    background: #fff;
    margin-bottom: 10px;
}
.title{
    font-size: 16px;
    font-weight: 400;
    /* margin: 0 0 5px 0; */
    color: #134074;
}
.subTitle{
    color: #eef4ed;
    font-size: 15px;
}